.deck-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
}

.deck{
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 20px;
	max-width: 320px;
	width: 320px;
	height: auto;
	margin: 15px;
	box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
	border-radius: 10px;
	overflow: hidden;
}

.deck .deck-image {
  position: relative;
  overflow: hidden;
}

.deck .deck-image img {
  width: 100%;
}

.deck .deck-image:hover .overlay-b{
  opacity: 1;
  visibility: visible;
}

.deck-image{
    max-height: 250px;
    max-width: 320px;
}
.deck-image::after{
  max-height: 250px;
  max-width: 320px;
}

.deck-image img{
	max-width: 100%;
	height: auto;
}

.deck-info{
	position: relative;
	color: #012F46;
	padding: 10px 20px 5px;
  text-align: justify;
}

.deck-info h3{
  font-family: "Roboto Slab", serif;
	font-size: 1.4em;
	font-weight: bold;
  color: #FFC600;
}

.deck-info p{
	font-size: 0.9em;
	margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}

.deck-info a{
	color: #012F46;
  font-size: 0.9em;
  font-weight: bold;
}

.deck-info a:hover{
	color: #FFC600;
}

.date{
  font-family: "Roboto", sans-serif;
  font-size: .80em;
  color: #777;
}
.date {
  margin: 5px 0px 10px 0px;
  display: block;
}

.overlay-b {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  filter: opacity(80%);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  bottom: 0;
  left: 0;
}
.overlay-b .overlay-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.overlay-b .overlay-inner a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  border: 10px solid #d5d5d5;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: block;
  text-align: center;
  line-height: 36px;
  color: white;
}
.overlay-b .overlay-inner a:hover {
  color: #f69730;
  border-color: #f69730;
}